.main-content { // this is the parent that holds all the cards. 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .card { // styling here will affect each individual card

        border: 1px solid black;
        flex: 1;
        max-width: 250px;
        margin: 5px;
        position: relative;

        h2 {
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
        }

        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            font-weight: 600;
        }

        img {
            width: 250px;
        }

    }
}
